.rcpg-content-wrapper {

    --rcpg-color-border: var(--border-color, #EDEDED99);
    --rcpg-accent-color: var(--accent-color, #36C2);
    --rcpg-accent-secondary-color: var(--accent-secondary-color, #36C2);
    --rcpg-color-background: var(--background-color, #36C2);
    --rcpg-color-background-maximized: var(--background-color-maximized, #000);
    --rcpg-color-button-background: var(--button-background-color, #36C2);
    --rcpg-color-button-active-background: var(--button-active-background-color, #36C2);
    --rcpg-color-navigation-background: var(--navigation-background-color, #fff);


    &.carouselMaximizedCover {
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: var(--rcpg-color-background-maximized);
        top: 0px;
        z-index: 150;

        .closeButton {
            position: absolute;
            right: 18px;
            top: 6px;
            cursor: pointer;
            padding: 1px 8px 0px;
            border: 1px solid var(--rcpg-color-border);
            border-radius: 8px;
            transition: all 0.5s linear;
            z-index: 250;

            &.hidden {
                display: none;
            }

            &:hover {
                color: var(--rcpg-accent-color);
                box-shadow: 0 0 5px 3px var(--rcpg-accent-secondary-color);
            }
        }

        .fullscreenModeButton {
            position: absolute;
            right: 18px;
            bottom: 6px;
            padding: 1px 4px 0px;
            border: 1px solid var(--rcpg-color-border);
            border-radius: 8px;
            transition: all 0.5s linear;
            z-index: 250;

            &:hover {
                color: var(--rcpg-accent-color);
                box-shadow: 0 0 5px 3px var(--rcpg-accent-secondary-color);
            }
        }
    }

    .carouselContainerMaster {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        &.maximized {
            width: 100vw;
            height: 100vh;
            position: absolute;
            aspect-ratio: auto;

            .carouselLinksContainer.displayThumbs {
                bottom: 2%;
            }

            .carouselBottomLinks.displayThumbs {
                width: 64px;
                height: 36px
            }


            .carouselBottomLinks.displayThumbs {
                border-radius: 3px;
                overflow: hidden;
            }

            .carouselBottomLinks.displayThumbs img {
                border-radius: 3px;
            }

            .carouselItem img {
                width: 100vw;
                height: 100vh;
                object-fit: contain;
            }

            .imageWithCaptionContainer .info {
                padding: 10px 0 8vh;
            }

            &.displayThumbs .imageWithCaptionContainer .info {
                padding: 10px 0 max(7vh, 45px);
            }

        }

        &.fullscreen .carouselItem img {
            max-width: 100vw;
            max-height: 100vh;
            object-fit: contain;
        }

        .carouselContainer {
            position: relative;
            width: 100%;
            /* width: 900px; */
            max-width: 90vw;
            max-height: 60vw;
            aspect-ratio: 16 / 9;
            padding: 0;
            overflow: hidden;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
            background-color: var(--rcpg-color-background);

            &.maximized {
                width: 100vw;
                height: 100vh;
                position: absolute;
                aspect-ratio: auto;
                z-index: 200;
            }

            &.fullscreen {
                max-width: 100vw;
                max-height: 100vh;
            }

            &>button {
                background-color: var(--surface-color);
                background-color: transparent;
                border-radius: 50%;
                outline: none;
                border: 0;
                /* padding: 4px 15px 8px; */
                padding: 4px 5px 8px;
                color: var(--rcpg-accent-secondary-color);
                font-size: 30px;
                line-height: 30px;
                cursor: pointer;
            }
            &>button:hover {
                color: var(--rcpg-accent-color);
            }

            &>button:active {
                color: var(--rcpg-color-button-active-background);
            }

            @media(min--moz-device-pixel-ratio:0) {
                &>button {
                    padding: 2px 4px 6px 6px;
                }
            }

            .carouselButtonNext {
                position: absolute;
                font-weight: bolder;
                right: 2px;
            }

            .carouselButtonPrev {
                position: absolute;
                font-weight: bolder;
                left: 2px;
            }

            .carouselLinksContainer {
                position: absolute;
                bottom: 5%;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                align-items: center;
            }

            .carouselBottomLinks {
                width: 24px;
                height: 8px;
                padding: 0;
                border-radius: 50%;
                border-radius: 0;
                outline: none;
                border: 0;
                background-color: var(--rcpg-color-navigation-background);
                border: 1px solid var(--rcpg-color-border);
                transition: background-color 1s ease;
                margin: 0 2px;

                &.displayThumbs {
                    position: relative;
                    height: 12px;

                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        object-fit: cover;
                        filter: blur(.6px);
                        border-radius: 0;
                        transition: all 0.5s ease;
                    }

                    &.active img {
                        filter: grayscale(0%) blur(0);
                    }

                    &:hover img {
                        /* transform: translate(-50%, -50%) scale(3); */
                        z-index: 5;
                        filter: grayscale(0%);
                    }
                }

                &.active {
                    background-color: var(--rcpg-color-button-active-background);
                    border: 1px solid var(--rcpg-accent-color);
                    box-shadow: 0 0 5px 2px var(--rcpg-accent-color);
                }
            }

            .carouselItem {
                box-sizing: border-box;
                min-width: 100%;
                height: auto;
                overflow: hidden;
                object-fit: contain;
                height: auto;
                cursor: pointer;
                transform: translateX(calc(var(--slider-active-index) * -100%));
                transition: transform 1s ease;

                img {
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 16 / 9;
                    max-width: 90vw;
                    max-height: 60vw;
                    object-fit: scale-down;
                }
            }
        }
    }
}
